<section id="footer">
    <div class="container py-5 mt-5">
        <div class="row align-items-center pb-5 justify-content-center">
            <div class="col-lg col-md-4  col-sm-6 mb-2"><a href="#"><img src="./assets/footer/01@1X.png" class="w-75" alt=""></a></div>
            <div class="col-lg col-md-4  col-sm-6 mb-2"><a href="#"><img src="./assets/footer/02@1X.png" class="w-75" alt=""></a></div>

            <div class="col-lg col-md-4  col-sm-6 mb-2"><a href="#"><img src="./assets/footer/03@1X.png" class="w-75" alt=""></a></div>

            <div class="col-lg col-md-4  col-sm-6 mb-2"><a href="#"><img src="./assets/footer/04@1X.png" class="w-75" alt=""></a></div>

            <div class="col-lg col-md-4  col-sm-6 mb-2"><a href="#"><img src="./assets/footer/05@1X.png" class="w-75" alt=""></a></div>

        </div>
        <div class="row py-5">
            <div  class="col-lg col-md-4  col-sm-6 mb-2"><img src="./assets/footer/logo.png" alt=""></div>



            <div class="col-lg col-md-4  col-sm-6 mb-2"><a href="#" class="d-block text-uppercase">
                    <h5>company</h5>
                </a>
                <a href="#" class="d-block text-capitalize text-muted">About Us</a>
                <a href="#" class="d-block text-capitalize text-muted">Our Team
                </a>
                <a href="#" class="d-block text-capitalize text-muted">Careers</a>
                <a href="#" class="d-block text-capitalize text-muted">Contact</a>

            </div>
            <div class="col-lg col-md-4  col-sm-6 mb-2"><a href="#" class="d-block text-uppercase">
                    <h5>resources</h5>
                </a>
                <a href="#" class="d-block text-capitalize text-muted">Support</a>
                <a href="#" class="d-block text-capitalize text-muted">Blog
                </a>
                <a href="#" class="d-block text-capitalize text-muted"> Press Kit</a>
                <a href="#" class="d-block text-capitalize text-muted">Live Chat</a>



            </div>




            <div class="col-lg col-md-4  col-sm-6 mb-2"><a href="#" class="d-block text-uppercase">
                    <h5>about</h5>
                </a>
                <a href="#" class="d-block text-capitalize text-muted">How It Works</a>
                <a href="#" class="d-block text-capitalize text-muted">Our Team
                </a>
                <a href="#" class="d-block text-capitalize text-muted">Plans & Pricings</a>
                <a href="#" class="d-block text-capitalize text-muted">Login</a>
            </div>


            <div class="col-lg col-md-4  col-sm-6 mb-2"><a href="#" class="d-block text-uppercase">
                    <h5>get in touch</h5></a>
                    <a href="#" class="d-block text-capitalize text-muted">157 5th Avenue, 5471 NYC</a>
                    <a href="#" class="d-block text-capitalize text-muted">(805) 223 456 978
                    </a>
                    <a href="#" class="d-block text-capitalize text-muted">live-support@email.com</a>
                </div>



        </div>
    </div>
</section>