<section id="one" class="pricing-table d-flex align-items-center  py-5 mt-5">

    <div class="container text-center pt-5">
<div class="text-center"><h5>PLANS AND PRICING</h5>
    <h1>Check our best offers</h1></div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="card mb-3 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center mb-5">BEGINNER & STARTER</h5>
                        <div class="text-center  mb-3">
                            <h6 class="card-price d-inline-block text-center border-circle"> <sup>$</sup>29
                            </h6>
                        <div class="position-absolute circle">
                      
                        </div>
                    </div>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum.

                        </p>
                        <ul class="fa-ul ">
                            <li><span class="fa-li  "><img src="./assets/price/check Kopie 4@1X.png"
                                        alt=""></span>Dashboard entrance</li>
                            <li><span class="fa-li"><img src="./assets/price/check Kopie 4@1X.png" alt=""></span>1x User
                                Account</li>
                            <li><span class="fa-li"><img src="./assets/price/check Kopie 4@1X.png" alt=""></span> 1x
                                E-Mail Account</li>
                            <li><span class="fa-li"><img src="./assets/price/check Kopie 4@1X.png" alt=""></span>
                                Webhosting</li>
                            <li class="grey-text"><span class="fa-li"><img src="./assets/price/check Kopie 4@1X.png"
                                        alt=""></span>Customer Support</li>
                        </ul>
                        <div class="text-center"> <a href="#" class="btn btn-primary  rounded-pill my-2 py-2 px-4">Load
                                More</a>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-3 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center mb-5">BEGINNER & STARTER</h5>
                        <div class="text-center mb-3">
                            <h6 class="card-price d-inline-block text-center border-circle"> <sup>$</sup>29
                            </h6>
                        <div class="position-absolute circle">
                      
                        </div>
                    </div>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum.

                        </p>
                        <ul class="fa-ul ">
                            <li><span class="fa-li  "><img src="./assets/price/check Kopie 4@1X.png"
                                        alt=""></span>Dashboard entrance</li>
                            <li><span class="fa-li"><img src="./assets/price/check Kopie 4@1X.png" alt=""></span>1x User
                                Account</li>
                            <li><span class="fa-li"><img src="./assets/price/check Kopie 4@1X.png" alt=""></span> 1x
                                E-Mail Account</li>
                            <li><span class="fa-li"><img src="./assets/price/check Kopie 4@1X.png" alt=""></span>
                                Webhosting</li>
                            <li class="grey-text"><span class="fa-li"><img src="./assets/price/check Kopie 4@1X.png"
                                        alt=""></span>Customer Support</li>
                        </ul>
                        <div class="text-center"> <a href="#" class="btn btn-primary  rounded-pill my-2 py-2 px-4">Load
                                More</a>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-3 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center mb-5">BEGINNER & STARTER</h5>
                        <div class="text-center mb-3">
                            <h6 class="card-price d-inline-block text-center border-circle"> <sup>$</sup>29
                            </h6>
                        <div class="position-absolute circle">
                      
                        </div>
                    </div>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum.

                        </p>
                        <ul class="fa-ul ">
                            <li><span class="fa-li  "><img src="./assets/price/check Kopie 4@1X.png"
                                        alt=""></span>Dashboard entrance</li>
                            <li><span class="fa-li"><img src="./assets/price/check Kopie 4@1X.png" alt=""></span>1x User
                                Account</li>
                            <li><span class="fa-li"><img src="./assets/price/check Kopie 4@1X.png" alt=""></span> 1x
                                E-Mail Account</li>
                            <li><span class="fa-li"><img src="./assets/price/check Kopie 4@1X.png" alt=""></span>
                                Webhosting</li>
                            <li class="grey-text"><span class="fa-li"><img src="./assets/price/check Kopie 4@1X.png"
                                        alt=""></span>Customer Support</li>
                        </ul>
                        <div class="text-center"> <a href="#" class="btn btn-primary  rounded-pill my-2 py-2 px-4">Load
                                More</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>