<section id="action my-5">
<div class="action">
    <img src="../assets/action/stars_.png" class="position-absolute stars" alt="">
<div  class="my-5 d-flex justify-content-center align-items-center bg-gradiand">
    <div class="container-sm py-5 position-relative">
<div class="row py-5 text-white justify-content-center align-items-center text-center ">
    <div class="col-md-12">
        <h6>call to action</h6>
        <h3 >Start building your website with a modern CMS </h3>
        <p>Aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
       
    </div>

    <div class="row bg-white mb-5 box rounded animate__animated ">
        <div class="col-sm-6 py-2 px-3">
           <img src="./assets/action/logo.png" alt="">
           <h3>Userfriendly Experience</h3>
           <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
                feugiat nulla facilisis at vero erol delenit augue duis dolore te feugait nulla facilisi.</p>
        </div>
        <div class="col-sm-6 py-2 px-3">
            <img src="./assets/action/logo.png" alt="">
            <h3>Userfriendly Experience</h3>
            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
                 feugiat nulla facilisis at vero erol delenit augue duis dolore te feugait nulla facilisi.</p>
         </div></div>
    </div>
</div></div>
</section>
