<nav class="navbar   navbar-expand-lg fixed-top" id="navbar">
    <a class="navbar-brand" href="#index.html"><img src="./assets/nav/logo.png" 
            alt="logo">
        </a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" id="menue-btn">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarText">
        <ul class="navbar-nav m-auto text-uppercase">
            <li class="nav-item active ">
                <a class="nav-link ml-3 float-right" href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-3 float-right" href="#Portfolio">portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-3 float-right" href="#gallery">pages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-3 float-right" href="#features">blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-3 float-right" href="#footer">contact</a>
            </li>
        </ul>
        
    </div>
    <span class="navbar-text float-right">
        <a href="#" ><img src="./assets/nav/united-states@1X.png" alt="lang"></a> <span class="mr-3 text-white"> EN</span>
        <a href="#" class="mr-3"><img src="./assets/nav/cart.png" alt="cart"></a>
        <a href="#" class="mr-3"><img src="./assets/nav/search.png" alt="search"></a>
        <a href="#" class="mr-3"><img src="./assets/nav/icon.png" alt="icon"></a>
     </span>
</nav>