<div class="row align-items-center">

    <div class="col-md-8 col-lg-6 animate__animated animate__bounceInLeft ">
        <h1 class="pt-5 ">Follow the rules and grow</h1>
        <p class="py-2">Lorem ipsum dolor sit amet consectetur adipisicing
             elit. Natus repudiandae culpa eos aliquam
            beatae unde
        </p>
        <a routerLink="#"> <button class="my-btn rounded-pill py-3 px-5">find out now <img
                    src="./assets/header/arrow@1X.png" alt=""></button></a>
    </div>

</div>