

@media (max-width: 768px) {
    h1{ 
        font-size:1.5rem !important;
        
       }
       h2{
           font-size: 1.5rem;
       }
    
    .navbar-brand{
    img{
    width: 50%;}

    #gallery{
        
        padding-top: 0 !important;
        margin-top: 0 !important;
        img{
            position: relative;
        }
    }
   
}

header{
    align-items: center;
    background-size:150% !important;
    height: 80vh;
    .col-md-8{
        text-align: center;

   
    }
}


#features{
margin-top:70vh !important;
   

}

#one{
    h6{
        font-size: 2.5rem;
        padding: 10px;
    }
    li{margin: 0 !important;
    text-align: left;}
    p{margin: 0 !important;}
    
}
}

// Medium devices (tablets, 768px and up)
@media  (min-width: 768px) {
    header{
   .col-md-8{
       

    h1{ 
       font-size:3.5 !important;
       margin-top: 0 !important;
       padding-top: 0 !important;
      }
   }
}}
@media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

  
